<!-- templates/reg/password_change_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm mb-4 p-4">
        <h1 class="mb-4">Change Password</h1>
        <p>Please enter your old password and your new password twice to confirm.</p>
        
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-center mt-4">
                <input class="btn btn-success btn-lg" type="submit" value="Change my password">
            </div>
        </form>
    </div>
</div>
{% endblock %}
