{% extends 'base.html' %}
{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ quiz.title }}</h1>

    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <h3>{{ question.text }}</h3>
            {% if question.question_type == 'MC' %}
                {% for answer in question.answer_set.all %}
                    <div>
                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                        <label>{{ answer.text }}</label>
                    </div>
                {% endfor %}
            {% elif question.question_type == 'TF' %}
                <div>
                    <input type="radio" name="question_{{ question.id }}" value="True">
                    <label>True</label>
                    <input type="radio" name="question_{{ question.id }}" value="False">
                    <label>False</label>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
