{% extends 'base.html' %}
{% block title %}Tutorials{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm mb-4 p-4">
        <h1>Welcome to the Tutorials Section</h1>
        <p>This section contains interactive tutorials, quizzes, and flashcards to help you master various topics. Below is the table of contents to get started.</p>
    </div>

    <!-- Table of Contents -->
    <div class="card shadow-sm mb-4 p-4">
        <h2>Table of Contents</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'objects_tutorial' %}">Objects</a>
            </li>
            <li class="list-group-item">
                <a href="#flashcards">Objects Flashcards</a>
            </li>
            <li class="list-group-item">
                <a href="#quiz">Objects Quiz</a>
            </li>
        </ul>
    </div>

    <!-- Tutorial Sections -->
    <div id="objects" class="card shadow-sm mb-4 p-4">
        <h3>Objects in JavaScript</h3>
        <p>Learn about objects in JavaScript, their properties, and how to create and manipulate them.</p>
        <a href="#" class="btn btn-primary">Object Tutorial</a>
    </div>


</div>
{% endblock %}
